
-c requirements-test.txt

# Debugging
debugpy

# Linting and formatting
pre-commit
ruff
flake8
flake8-qgis

# Types
mypy
PyQt5-stubs
types-PyYAML

# build testing/developing
qgis-plugin-ci

# repo itself
-e file:.
